.date-info {
    font-size: 13px;
    font-style: italic;
    color: dimgrey;
}

.note-content {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.note-details-container {
    height: 450px;
    overflow: scroll;
}

.trash-icon-button {
    background-color: transparent;
    border:none
}

.date-and-actions-area {
    display: flex;
    justify-content: space-between;
}