.contact-table {
    width: 100%;
    padding-left: 1rem;
    text-align: left;
}

.contact-table-header > th {
    font-weight: 500;
    padding-bottom: 10px;
}

.table-body-row {
    height: 3.0rem;
}

.table-body-cell, .table-header-cell {
    max-width: 4rem;
    overflow: scroll;
    padding-left: 0.5rem;
}

.contact-table-header {
    border-bottom: 1px solid darkgrey;
}