.contact-table {
    width: 95%;
    margin: auto;
    text-align: left;
}

.redirect-button {
    margin-right: 0.5rem;
    background-color: rgb(50,50,50);
    color: white;
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    border: none;
}

.contact-table-header > th {
    font-weight: 500;
}