.file-input-form {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.file-input-title {
    padding-bottom: 15px;
}

.file-uploader-button {
    background-color: rgba(50,50,50);
    color: white;
    font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
}