.form-container {
    width: 75%;
    padding: 0.5rem 0.5rem;
}

.form-row {
    display: flex;
    justify-content: left;
}

.form-cell {
    margin: 0.5rem 0.5rem;
    font-size: 14px;
}

.form-cell-title {
    margin: 5px 0;
}

.form-submit-button {
    background-color: rgb(50,50,50);
    color: white;
    font-size: 14px;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    border: none;
}

.success-message {
    border-radius: 3px;
    border: 1px solid seagreen;
    color: seagreen;
    padding: 5px 5px;
    width: fit-content;
}

.failure-message {
    border-radius: 3px;
    border: 1px solid darkred;
    color: darkred;
    padding: 5px 5px;
    width: fit-content;
}