.form-container {
    width: 75%;
    padding: 0.5rem 0.5rem;
}

.form-row {
    display: flex;
    justify-content: left;
}

.form-cell {
    margin: 0.5rem 0.5rem;
    font-size: 14px;
}

.form-cell-title {
    margin: 5px 0;
}

.form-submit-button {
    background-color: rgb(50,50,50);
    color: white;
    font-size: 14px;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    border: none;
}

.old-note-input {
    width: 80rem;
}