.contact-details {
    padding: 15px 15px;
}

.info-row {
    display: flex;
}

span {
    padding: 5px 0;
}

.title-column {
    display: flex;
    width: 25%;
    flex-direction: column;
    font-weight: bold;
}