.contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem
}

.info-row {
    display: flex;
}

span {
    padding: 5px 0;
}

.title-column {
    display: flex;
    width: 60%;
    flex-direction: column;
    font-weight: 600;
}