.navbar {
    display: flex;
    padding: 15px 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.navbarLink {
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.navbarLink:hover {
    color: gray;
}