.detail-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.create-note-container {
    height: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px 10px;
}